header {

    /* Muda o plano de fundo para cinza */
    background: #BBBBBB;

    /* Adicionando espacamento de 20 pixels para cima e para baixo, e de 0 para esquerda e direita, tudo isso em relacao a distancia do conteudo a margem do cabecalho*/
    padding: 20px 0;
}

.caixa {

    /* Adicionando posicionamento relativo */
    position: relative;

    /* Adicionando uma largura fixa de 940 pixels */
    width: 940px;

    /* Adicionando um espacamento externo de 0 pixels para cima e para baixo, e calculado e maneira automatica para esquerda e para direita. Isto alinha a div ao centro */
    margin: 0 auto;


}

nav {

    /* Alterando o posicionamento para absoluto */
    position: absolute;

    /* Posiciona o nav para 110 pixels abaico da margem superior */
    top: 110px;

    /* Posiciona o nav para 0 pixels a esquerda da margem direita */
    right: 0;
}

nav li {

    /* Mostra os itens da lista em uma unica linha */
    display: inline;

    /* Adiciona um espacamento 0 para o topo, 0 para direita, 0 para baixo e 15 para esquerda*/
    margin: 0 0 0 15px;
}

nav a {

    /* Transforma o texto em maiusculo */
    text-transform: uppercase;

    /* Adiciona a cor preta ao texto */
    color: #000000;
    
    /* Adiciona negrito */
    font-weight: bold;

    /* Adiciona tamanho de 22 pixels */
    font-size: 22px;

    /* Remove decoracao */
    text-decoration: none;
}

.produtos {

    /* Adiciona uma largura de 940 pixels */
    width: 940px;

    /* Adicionando espacamento de 0 pixels de cima para baixo, e um espacamento automatico para os lados esquerdo e direito */
    margin: 0 auto;

    /* Adicionando expacamento interno de 50px para cima e para baixo e, 0px para o expacamento para a esquerda e direita*/
    padding: 50px 0;
}

.produtos li {

    /* Coloca os itens da lista na mesma linha */
    display: inline-block;

    /* Centralizando o conteudo */
    text-align: center;

    /* Distribuindo os itens para que cada um tenha 30% de largura */
    width: 30%;

    /* Alinhando pela linha de cima */
    vertical-align: top;

}

.produtos h2 {
    
    /* Altera o tamanho da fonte do titulo dos produtos */
    font-size: 30px;

    /* Adiciona negrito a fonte do titulo dos produtos */
    font-weight: bold;

}

.produto-descricao {

    /* Altera o tamanho da fonte da descricao do produto para 18 pixels*/
    font-size: 18px;
    
}

.produto-preco {

    /* Altera o tamanho da fonte do preco dos produtos */
    font-size: 22px;

    /* Adicionando negrito a fonte do preco dos produtos */
    font-weight: bold;

}