
body
{

}

/*Configurando a largura para tags com id banner.*/
#banner
{
    width: 100%;
}

/*Configurando a parte da pagina marcada como pricipal para que a cor de fundo seja cinza.*/
.principal
{
    background: #CCCCCC;
}

/*Configurando o alinhamento do texto como centro para as tags de titulo*/
h1
{
    text-align: center;
}

/*Configurando o alinhamento do texto como centro para as tags de paragrafo.*/
p
{
    text-align:center;

}

/*Configurando o tamanho da fonte para as tags com id missao.*/
#missao
{
    font-size: 20px;
}

/*Configuracao de cor dos itens em italico com negrito para vermelho.*/
em strong
{
    color: #FF0000;
}

/*Configuracao CSS para os itens da lista.*/
.itens
{
    font-style: italic;
}

/*Configurando o CSS para que as tags com a classe beneficios esteja com fundo branco.*/
.beneficios
{
    background: #FFFFFF;
}

/*Configurando a tag h2 para que ela fique centralizada.*/
#h2
{
    text-align: center;
}